<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Analytics.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Analytics</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body onbeforeunload="doHourglass();" onunload="resetCursor();">
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">Portfolio Analytics</a>
                </div>
                <div id="testid" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="padding-left: 15px;">
                        <li style="padding-left: 15px;"><a runat="server" href="~/" class="mysubmenu">Home</a></li>
                        <%-- Adding new for project --%>
                        <li style="padding-left: 15px;"><a href="#" class="mysubmenu">Stock Portfolio</a>
                            <ul style="padding-left: 15px;" class="no-bullets">
                                <li style="padding-left: 25px;"><a runat="server" href="~/mnewportfolio.aspx" class="mysubmenu">New Portfolio</a></li>
                                <li style="padding-left: 25px;"><a runat="server" href="~/mselectportfolio.aspx?valuation=false" class="mysubmenu">Open Portfolio</a></li>
                                <li style="padding-left: 25px;"><a runat="server" href="~/mdeleteportfolio.aspx" class="mysubmenu">Delete Portfolio</a></li>
                                <li style="padding-left: 25px;"><a runat="server" href="~/mimportportfolio.aspx" class="mysubmenu">Import Portfolio (CSV file)</a></li>
                                <li style="padding-left: 25px;">
                                    <a runat="server" href="~/mselectportfolio.aspx?valuation=true" class="mysubmenu">Portfolio Valuation</a></li>
                                <li style="padding-left: 25px;">
                                    <a runat="server" href="~/mgetquoteadd.aspx?addallowed=false" class="mysubmenu">Get Quote</a></li>
                            </ul>
                        </li>
                        <li style="padding-left: 15px;"><a href="#" class="mysubmenu">MF Portfolio</a>
                            <ul style="padding-left: 15px;" class="no-bullets">
                                <li style="padding-left: 25px;"><a runat="server" href="~/mnewportfolioMF.aspx" class="mysubmenu">New Portfolio</a></li>
                                <li style="padding-left: 25px;"><a runat="server" href="~/mselectportfolioMF.aspx?valuation=false" class="mysubmenu">Open Portfolio</a></li>
                                <li style="padding-left: 25px;"><a runat="server" href="~/mdeleteportfolioMF.aspx" class="mysubmenu">Delete Portfolio</a></li>
                                <%--<li><a runat="server" href="~/mimportportfolioMF.aspx">Import Portfolio (CSV file)</a></li>
                                <li><hr /><a runat="server" href="~/mselectportfolioMF.aspx?valuation=true">Portfolio Valuation</a></li>
                                <li><hr /><a runat="server" href="~/mgetquoteaddMF.aspx?addallowed=false">Get Quote</a></li>--%>
                            </ul>
                        </li>
                        <li style="padding-left: 15px;"><a href="#" class="mysubmenu">Research & Graphs</a>
                            <ul class="no-bullets">
                                <%--<li style="padding-left: 25px;"><a runat="server" href="~/mshowgraph.aspx" class="mysubmenu">Standard Graphs</a></li>--%>
                                <li style="padding-left: 25px;"><a runat="server" href="~/Graphs/mfgraphmain.aspx" class="mysubmenu">Standard Graphs</a></li>
                                <li style="padding-left: 25px;"><a runat="server" href="~/madvancegraphs.aspx" class="mysubmenu">Advanced Graphs</a></li>
                                <li style="padding-left: 25px;">
                                    <a class="mysubmenu" href="#" onclick="return openGlobalIndices()">Global Indices Graphs</a></li>
                            </ul>
                        </li>
                        <%--<li style="padding-left:15px;"><a href="#">Admin</a>
                            <ul>
                                <li><a runat="server" href="~/mdownloadstockdata.aspx">Download data</a></li>
                                <li><a runat="server" href="~/mimportportfolio.aspx">Import Portfolio (CSV file)</a></li>
                                <li><a runat="server" href="~/maddkey.aspx">Add Key</a></li>
                            </ul>
                        </li>--%>
                        <li style="padding-left: 15px;"><a runat="server" href="~/About" class="mysubmenu">About</a></li>
                        <li style="padding-left: 15px;"><a runat="server" href="~/HowTo" class="mysubmenu">How To Use</a></li>
                        <li style="padding-left: 15px;"><a runat="server" href="~/Contact" class="mysubmenu">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div>
            <footer>
                &copy; <%: DateTime.Now.Year %> - Analytics Unlimited
            </footer>
        </div>

    </form>
    <script type="text/javascript">
        //$(window).load(function () {
        //    $("#loader").fadeOut(1000);
        //});

        function doHourglass() {
            document.body.style.cursor = 'wait';
        };

        function resetCursor() {
            document.body.style.cursor = 'default';
        };

        function openGlobalIndices() {
            window.open("Graphs/globalindices.aspx", "_blank", "fullscreen=1,menubar=0,scrollbars=2,width=1280,height=1024,top=0");
        };
    </script>
</body>
</html>
