<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="advancegraphs.master.cs" Inherits="Analytics.advGraphs.advancegraphs" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Standard Indicators</title>
    <%--<asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />--%>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%--<link href="~/Content/bootstrap.min.css" rel="stylesheet" />--%>
    <style>
        .info-label {
            background-color: #5bc0de
        }

        #Background {
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: Gray;
            filter: alpha(opacity=40);
            opacity: 0.4;
        }

        #Progress {
            position: fixed;
            top: 50%;
            left: 0%;
            width: 100%;
            height: 100%;
            text-align: center;
            /*background-color: White;
            border: solid 3px black;*/
        }

        .myCheckBoxList label {
            padding-right: 5px;
        }

        .gridheader {
            text-align: center;
        }

        html, body, form {
            height: 100%;
        }

        .chart {
            width: 100% !important;
            height: 100% !important;
        }

        .blinking {
            animation: blinkingText 1.2s infinite;
        }

        @keyframes blinkingText {
            0% {
                color: #000;
            }

            49% {
                color: #000;
            }

            60% {
                color: transparent;
            }

            99% {
                color: transparent;
            }

            100% {
                color: #000;
            }
        }
    </style>
</head>
<body onbeforeunload="doHourglass();" onunload="resetCursor();">
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        <asp:HiddenField ID="panelWidthM" runat="server" Value="" />
        <asp:HiddenField ID="panelHeightM" runat="server" Value="" />
        <asp:UpdatePanel ID="UpdatePanel1" runat="server" style="width: 100%; height: 100%">
            <ContentTemplate>
                <div style="width: 100%; border: groove;">
                    <table style="width: 100%;">
                        <tr style="width: 100%;">
                            <td style="text-align: center;" class="info-label">
                                <%--<asp:Timer ID="TimerIndices" runat="server" Interval="60000" OnTick="GetIndexValues" />
                                <asp:Timer ID="TimerClear" runat="server" Interval="59900" OnTick="ClearHeading" />
                                <asp:UpdatePanel ID="UpdatePanel2" runat="server" UpdateMode="Conditional">
                                    <Triggers>
                                        <asp:AsyncPostBackTrigger ControlID="TimerIndices" />
                                        <asp:AsyncPostBackTrigger ControlID="TimerClear" />
                                    </Triggers>
                                    <ContentTemplate>--%>
                                        <asp:Label ID="headingtextM" Font-Bold="true" Font-Size="Smaller" runat="server" Text="Advance Indicators"></asp:Label>
                                    <%--</ContentTemplate>
                                </asp:UpdatePanel>--%>
                            </td>
                        </tr>
                    </table>
                    <asp:Panel ID="panelTopSection" runat="server" Enabled="false" Visible="false" GroupingText="Header">
                        <asp:Panel ID="panelStocksM" runat="server" Enabled="false" Visible="false">
                            <asp:Panel ID="panelOnlineStocksM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">
                                    <tr>
                                        <td style="text-align: right; width: 40%;">
                                            <asp:Label ID="Label40" runat="server" Style="text-align: right" Text="Select Exchange:"></asp:Label>
                                        </td>
                                        <td style="width: 10%;">
                                            <asp:DropDownList ID="ddlExchange" AutoPostBack="true" runat="server" OnSelectedIndexChanged="ddlExchange_SelectedIndexChanged" TabIndex="1">
                                            </asp:DropDownList>
                                        </td>
                                        <td>
                                            <asp:Button ID="ButtonGetAllForExchange" runat="server" Text="Get Company list from exchange" TabIndex="2" OnClick="ButtonGetAllForExchange_Click" />
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelPortfolioStocksM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">
                                    <tr>
                                        <td style="text-align: right; width: 40%;">
                                            <asp:Label ID="label69" Text="Select Portfolio :" runat="server"></asp:Label>
                                        </td>
                                        <td style="width: 10%;">
                                            <asp:DropDownList ID="ddlPortfoliosStocks" AutoPostBack="true" runat="server" OnSelectedIndexChanged="ddlPortfoliosStocks_SelectedIndexChanged" TabIndex="3"></asp:DropDownList>
                                        </td>
                                        <td>
                                            <asp:Button ID="ButtonSearchPortfolio" runat="server" Text="Get company list from portfolio" TabIndex="4" OnClick="ButtonSearchPortfolio_Click" />
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelSearchListStocksM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">
                                    <tr>
                                        <td style="text-align: right; width: 40%;">
                                            <asp:Label ID="Label70" runat="server" Style="text-align: right" Text="Filter by Company name :"></asp:Label>
                                        </td>
                                        <td style="width: 10%;">
                                            <asp:TextBox ID="TextBoxSearch" AutoPostBack="true" runat="server" TabIndex="5" ToolTip="Enter initial few characters of company name" OnTextChanged="ButtonSearch_Click"></asp:TextBox>
                                        </td>
                                        <td>
                                            <asp:Button ID="ButtonSearch" runat="server" Text="Search" TabIndex="6" OnClick="ButtonSearch_Click" />
                                        </td>
                                    </tr>
                                </table>
                                <table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">
                                    <tr>
                                        <td style="text-align: right; width: 40%;">
                                            <asp:Label ID="label71" Text="Select stock or company :" runat="server"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:DropDownList ID="DropDownListStock" runat="server" AutoPostBack="True" TabIndex="7 " OnSelectedIndexChanged="DropDownListStock_SelectedIndexChanged"></asp:DropDownList>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; width: 40%;"></td>
                                        <td colspan="2" style="width: 100%; text-align: left;">
                                            <asp:TextBox ID="textboxSelectedExchange" Width="40" ReadOnly="true" runat="server"></asp:TextBox>
                                            <asp:TextBox ID="textboxSelectedSymbol" Width="100" ReadOnly="true" runat="server"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                        </asp:Panel>

                        <asp:Panel ID="panelMFM" runat="server" Enabled="false" Visible="false">
                            <asp:Panel ID="panelOnlineFundHouseM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label16" runat="server" Style="text-align: right" Text="Fund House:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:DropDownList ID="ddlFundHouse" Width="90%" runat="server" AutoPostBack="true"
                                                OnSelectedIndexChanged="ddlFundHouse_SelectedIndexChanged">
                                            </asp:DropDownList>

                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelPortfolioMFM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label20" runat="server" Style="text-align: right" Text="Portfolio :"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:DropDownList ID="ddlPortfolioMF" Width="90%" runat="server" AutoPostBack="true"
                                                OnSelectedIndexChanged="ddlPortfolioMF_SelectedIndexChanged">
                                            </asp:DropDownList>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelSearchListFundNameM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">
                                    <tr>
                                        <td style="width: 20%; text-align: right;">
                                            <asp:Label ID="Label17" runat="server" Text="Search Fund Name:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxSelectedFundName" runat="server" ToolTip="Fund Name" Width="50%"></asp:TextBox>
                                            <asp:Button ID="buttonSearchFUndName" runat="server" Text="Search Fund Name" OnClick="buttonSearchFUndName_Click" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label18" runat="server" Style="text-align: right" Text="Fund Name:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:DropDownList ID="ddlFundName" Width="90%" Enabled="false" runat="server" AutoPostBack="True"
                                                OnSelectedIndexChanged="ddlFundName_SelectedIndexChanged">
                                            </asp:DropDownList>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 20%; text-align: right;">
                                            <asp:Label ID="Label19" runat="server" Text="Scheme Code:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxSchemeCode" runat="server" ReadOnly="true" ToolTip="Scheme Code"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                        </asp:Panel>
                        <asp:Panel ID="panelCommonControlsM" runat="server" GroupingText="Common Controls" Enabled="false" Visible="false">
                            <asp:Panel ID="panelGraphListM" runat="server" Enabled="false" Visible="false">
                                <%--<table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">--%>
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label5" runat="server" Style="text-align: right" Text="Show/Hide Graph:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:DropDownList ID="ddlIndicator" runat="server">
                                            </asp:DropDownList>
                                            <asp:Button ID="buttonShowSelectedIndicatorGraph" runat="server" Text="Show Selected Indicator" OnClick="buttonShowSelectedIndicatorGraph_Click" />
                                            <asp:Button ID="buttonRemoveSelectedIndicatorGraph" runat="server" Text="Hide Selected Indicator" OnClick="buttonRemoveSelectedIndicatorGraph_Click" />
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelFromToM" runat="server" Enabled="false" Visible="false">
                                <%--<table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">--%>
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label2" runat="server" Text="From date:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxFromDateM" runat="server" TextMode="Date"></asp:TextBox>
                                            <asp:Label ID="labelToDateM" runat="server" Text="To date:"></asp:Label>
                                            <asp:TextBox ID="textboxToDateM" runat="server" TextMode="Date"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                        </asp:Panel>
                        <asp:Panel ID="panelMainParamM" runat="server" GroupingText="Graph Parameters" Enabled="false" Visible="false">
                            <asp:Panel ID="panelCommonParametersM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label21" runat="server" Text="Output size: "></asp:Label>
                                        </td>
                                        <td>
                                            <asp:DropDownList ID="ddl_Outputsize" runat="server">
                                                <asp:ListItem Value="Full" Selected="True">Full</asp:ListItem>
                                                <asp:ListItem Value="Compact">Compact</asp:ListItem>
                                            </asp:DropDownList>
                                            <asp:Label ID="labelIntervalM" runat="server" Text="Interval: "></asp:Label>
                                            <asp:DropDownList ID="ddl_Interval" runat="server">
                                                <asp:ListItem Value="1d" Selected="True">Daily</asp:ListItem>
                                                <asp:ListItem Value="1m" Enabled="false">1 min</asp:ListItem>
                                                <asp:ListItem Value="5m" Enabled="false">5 min</asp:ListItem>
                                                <asp:ListItem Value="15m" Enabled="false">15 min</asp:ListItem>
                                                <asp:ListItem Value="30m" Enabled="false">30 min</asp:ListItem>
                                                <asp:ListItem Value="60m" Enabled="false">60 min</asp:ListItem>
                                                <asp:ListItem Value="1w" Enabled="false">Weekly</asp:ListItem>
                                                <asp:ListItem Value="1mo" Enabled="false">Monthly</asp:ListItem>
                                            </asp:DropDownList>
                                            <asp:Label ID="labelSeriesTypeM" runat="server" Text="Series Type:"></asp:Label>
                                            <asp:DropDownList ID="ddl_Series" runat="server" TabIndex="15">
                                                <asp:ListItem Value="OPEN" Enabled="false">Open</asp:ListItem>
                                                <asp:ListItem Value="HIGH" Enabled="false">High</asp:ListItem>
                                                <asp:ListItem Value="LOW" Enabled="false">Low</asp:ListItem>
                                                <asp:ListItem Value="CLOSE" Selected="True">Close</asp:ListItem>
                                            </asp:DropDownList>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelParamSMAM" runat="server" Enabled="false" Visible="false">
                                <%--<table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">--%>
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label6" runat="server" Text="Fast Period :"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxFastPeriodM" runat="server" Width="40" TextMode="Number" Text="12" ToolTip="Fast period for SMA, EMA, WMA, BBANDS"></asp:TextBox>
                                            <asp:Label ID="Label7" runat="server" Text="Slow Period :"></asp:Label>
                                            <asp:TextBox ID="textboxSlowPeriodM" runat="server" Width="40" TextMode="Number" Text="26" ToolTip="Slow period for SMA, EMA, WMA, BBANDS"></asp:TextBox>
                                            <asp:Label ID="Label10" runat="server" Text="Std Deviation :"></asp:Label>
                                            <asp:TextBox ID="textboxStdDevM" runat="server" Width="40" TextMode="Number" Text="2" ToolTip="Std Deviation for BBANDS"></asp:TextBox>
                                            <asp:Label ID="Label11" runat="server" Text="Signal:"></asp:Label>
                                            <asp:TextBox ID="textboxSignalM" runat="server" Width="40" TextMode="Number" Text="9" ToolTip="Signal for MACD"></asp:TextBox>
                                            <asp:Label ID="Label9" runat="server" Text="RSI Period :"></asp:Label>
                                            <asp:TextBox ID="textboxRSIPeriodM" runat="server" Width="40" TextMode="Number" Text="14" ToolTip="Period for RSI"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelParamStockBackTestM" runat="server" Enabled="false" Visible="false">
                                <%--<table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">--%>
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label3" runat="server" Text="SMA Small Period: "></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxSMASmallPeriodM" runat="server" TextMode="Number" Width="40" Text="10" TabIndex="2"></asp:TextBox>
                                            <asp:Label ID="Label4" runat="server" Text="SMA Long Period: "></asp:Label>
                                            <asp:TextBox ID="textboxSMALongPeriodM" runat="server" TextMode="Number" Width="40" Text="20" TabIndex="2"></asp:TextBox>
                                            <asp:Label ID="Label8" runat="server" Text="Buy span in days: "></asp:Label>
                                            <asp:TextBox ID="textboxBuySpanM" runat="server" TextMode="Number" Width="40" Text="2" TabIndex="2"></asp:TextBox>
                                            <asp:Label ID="Label12" runat="server" Text="Sell span in days: "></asp:Label>
                                            <asp:TextBox ID="textboxSellSpanM" runat="server" TextMode="Number" Width="40" Text="20" TabIndex="2"></asp:TextBox>
                                            <asp:Label ID="Label13" runat="server" Text="Simulation Quantity: "></asp:Label>
                                            <asp:TextBox ID="textboxSimulationQtyM" runat="server" TextMode="Number" Width="40" Text="100" TabIndex="2"></asp:TextBox>
                                            <asp:Label ID="Label15" runat="server" Text="Forecasting period: "></asp:Label>
                                            <asp:TextBox ID="textboxForecastPeriodM" runat="server" TextMode="Number" Width="40" Text="40" TabIndex="2"></asp:TextBox>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label14" runat="server" Text="Forecast Regression Type:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:DropDownList ID="ddlRegressionTypeM" runat="server">
                                                <asp:ListItem Text="Linear" Value="2" Selected="True"></asp:ListItem>
                                                <asp:ListItem Text="Exponential" Value="3"></asp:ListItem>
                                                <asp:ListItem Text="Logarithmic" Value="4"></asp:ListItem>
                                                <asp:ListItem Text="Power" Value="5"></asp:ListItem>
                                            </asp:DropDownList>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelSMADailyM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label1" runat="server" Text="Fast Period:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxSMADailyFastPeriodM" runat="server" TextMode="Number" Width="40" Text="50"></asp:TextBox>
                                            <asp:Label ID="Label22" runat="server" Text="Slow Period:"></asp:Label>
                                            <asp:TextBox ID="textboxSMADailySlowPeriodM" runat="server" TextMode="Number" Width="40" Text="200"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>

                            </asp:Panel>
                            <asp:Panel ID="panelMacdDailyM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label25" runat="server" Text="Fast Period:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxMACDEMADaily_fastperiodM" runat="server" TextMode="Number" Width="40" Text="12"></asp:TextBox>
                                            <asp:Label ID="Label29" runat="server" Text="Slow Period:"></asp:Label>
                                            <asp:TextBox ID="textboxMACDEMADaily_slowperiodM" runat="server" TextMode="Number" Width="40" Text="26"></asp:TextBox>
                                            <asp:Label ID="Label27" runat="server" Text="Signal Period:"></asp:Label>
                                            <asp:TextBox ID="textboxMACDEMADaily_signalperiodM" runat="server" TextMode="Number" Width="40" Text="9" TabIndex="24"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelRsiDailyM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label33" runat="server" Text="Period:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxRSIDaily_PeriodM" runat="server" TextMode="Number" Width="40" Text="14" TabIndex="28"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelBbandsDailyM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label24" runat="server" Text="Period:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxBBandsDaily_PeriodM" runat="server" TextMode="Number" Width="40" Text="14"></asp:TextBox>
                                            <asp:Label ID="Label42" runat="server" Text="Std Deviation: "></asp:Label>
                                            <asp:TextBox ID="textboxBBandsDaily_StdDevM" runat="server" TextMode="Number" Width="40" Text="2"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelStochRsiDailyM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label49" runat="server" Text="FastK Period:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxSTOCHDaily_FastkperiodM" runat="server" TextMode="Number" Width="40" Text="5"></asp:TextBox>
                                            <asp:Label ID="Label51" runat="server" Text="SlowD Period:"></asp:Label>
                                            <asp:TextBox ID="textboxSTOCHDaily_SlowdperiodM" runat="server" TextMode="Number" Width="40" Text="3"></asp:TextBox>
                                            <asp:Label ID="labelStochDailyRSI_PeriodM" runat="server" Text="Period:"></asp:Label>
                                            <asp:TextBox ID="textboxStochDailyRSI_PeriodM" runat="server" TextMode="Number" Width="40" Text="14"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelDiAdxDailyM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label65" runat="server" Text="Period:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxDMIMINUSDI_PeriodM" runat="server" TextMode="Number" Width="40" Text="14"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelDxDmDailyM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label62" runat="server" Text="Period:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:TextBox ID="textboxDMIDX_PeriodM" runat="server" TextMode="Number" Width="40" Text="14"></asp:TextBox>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel ID="panelGlobalIndexM" runat="server" Enabled="false" Visible="false">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: right; width: 20%;">
                                            <asp:Label ID="Label23" runat="server" Text="Select Index:"></asp:Label>
                                        </td>
                                        <td>
                                            <asp:DropDownList ID="ddlIndexListM" runat="server">
                                                <asp:ListItem Text="--Select Index--" Value="-1" Selected="True"></asp:ListItem>
                                                <asp:ListItem Text="BSE SENSEX" Value="^BSESN"></asp:ListItem>
                                                <asp:ListItem Text="Nifty 50" Value="^NSEI"></asp:ListItem>
                                                <asp:ListItem Text="Dow" Value="^DJI"></asp:ListItem>
                                                <asp:ListItem Text="Nasdaq" Value="^IXIC"></asp:ListItem>
                                                <asp:ListItem Text="Nikkei" Value="^N225"></asp:ListItem>
                                            </asp:DropDownList>
                                        </td>
                                    </tr>
                                </table>

                            </asp:Panel>
                        </asp:Panel>
                        <asp:Panel ID="panelDescriptionM" runat="server" GroupingText="Graph Description" Enabled="false" Visible="false">
                            <%--<table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">--%>
                            <table style="width: 100%;">
                                <tr style="width: 100%;">
                                    <%--<td style="width: 20%;"></td>--%>
                                    <td style="text-align: left; width: 100%;">
                                        <asp:BulletedList ID="bulletedlistDescM" runat="server">
                                        </asp:BulletedList>
                                    </td>
                                </tr>
                            </table>
                        </asp:Panel>
                    </asp:Panel>
                    <table style="width: 100%; border-color: black; border-style: solid; border-width: .1px;">
                        <tr style="width: 100%;">
                            <td style="width: 20%;"></td>
                            <td style="text-align: left; width: 80%;">
                                <asp:Button ID="buttonShowGraph" runat="server" Text="Reset Graph" OnClick="buttonShowGraph_Click" />
                                <asp:Button ID="buttonShowGridM" runat="server" Text="Show/Hide Data" OnClick="buttonShowGrid_Click" />
                                <asp:Button ID="buttonDescM" runat="server" Text="Toggle Description" OnClick="buttonDescM_Click" />
                                <asp:Button ID="buttonParametersM" runat="server" Text="Toggle Parameters" OnClick="buttonParametersM_Click" />
                                <asp:Button ID="buttonTopSecionM" runat="server" Text="Show/Hide Header" OnClick="buttonTopSectionM_Click" />
                            </td>
                        </tr>
                    </table>
                </div>

                <asp:ContentPlaceHolder ID="ContentPlaceHolderGraphs" runat="server">
                </asp:ContentPlaceHolder>
                <asp:Button ID="btnPostBack" runat="server" Style="display: none" />

                <asp:UpdateProgress ID="UpdateProgress1" runat="server" DisplayAfter="0">
                    <ProgressTemplate>
                        <div id="Background"></div>
                        <div id="Progress">
                            <img src="../WaitImage/pageloader.gif" width="100" height="100" style="vertical-align: central" />
                        </div>
                    </ProgressTemplate>
                </asp:UpdateProgress>
            </ContentTemplate>
        </asp:UpdatePanel>
    </form>

    <script type="text/javascript">
        function doHourglass() {
            document.body.style.cursor = 'wait';
        };

        function resetCursor() {
            document.body.style.cursor = 'default';
        };

        (function () {
            var panel = document.getElementById('<%= UpdatePanel1.ClientID %>');
            var panelWidth = document.getElementById('<%= panelWidthM.ClientID %>');
            var panelHeight = document.getElementById('<%= panelHeightM.ClientID %>');
            var initialWidth = panel.offsetWidth;
            var initialHeight = panel.offsetHeight;

            function getChangeRatio(val1, val2) {
                return Math.abs(val2 - val1) / val1;
            };

            function redrawChart() {
                setTimeout(function () {
                    initialWidth = panel.offsetWidth;
                    initialHeight = panel.offsetHeight;
                    document.getElementById('<%= btnPostBack.ClientID %>').click();
                }, 0);
            };

            function savePanelSize() {
                var isFirstDisplay = panelWidth.value == '';
                panelWidth.value = panel.offsetWidth;
                panelHeight.value = panel.offsetHeight;
                var widthChange = getChangeRatio(initialWidth, panel.offsetWidth);
                var heightChange = getChangeRatio(initialHeight, panel.offsetHeight);
                if (isFirstDisplay || widthChange > 0 || heightChange > 0) {
                    redrawChart();
                }
            };

            savePanelSize();
            window.addEventListener('resize', savePanelSize, false);
        })();
    </script>
</body>
</html>
