<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="mfstandardindicators.master.cs" Inherits="Analytics.mfstandardindicators" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Standard Indicators</title>
    <%--<asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />--%>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%--<link href="~/Content/bootstrap.min.css" rel="stylesheet" />--%>
    <style>
        #Background {
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: Gray;
            filter: alpha(opacity=40);
            opacity: 0.4;
        }

        #Progress {
            position: fixed;
            top: 50%;
            left: 0%;
            width: 100%;
            height: 100%;
            text-align: center;
            /*background-color: White;
            border: solid 3px black;*/
        }

        .myCheckBoxList label {
            padding-right: 5px;
        }

        .gridheader {
            text-align: center;
        }

        html, body, form {
            height: 100%;
        }

        .chart {
            width: 100% !important;
            height: 100% !important;
        }

        .blinking {
            animation: blinkingText 1.2s infinite;
        }

        @keyframes blinkingText {
            0% {
                color: #000;
            }

            49% {
                color: #000;
            }

            60% {
                color: transparent;
            }

            99% {
                color: transparent;
            }

            100% {
                color: #000;
            }
        }
    </style>
</head>
<body onbeforeunload="doHourglass();" onunload="resetCursor();">
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        <asp:HiddenField ID="panelWidthM" runat="server" Value="" />
        <asp:HiddenField ID="panelHeightM" runat="server" Value="" />
        <asp:UpdatePanel ID="UpdatePanel1" runat="server" style="width: 100%; height: 100%">
            <ContentTemplate>
                <div style="width: 100%; border: groove;">
                    <table style="width: 100%;">
                        <tr style="width: 100%;">
                            <td style="text-align: center;">
                                <asp:Label ID="headingtextM" Font-Bold="true" Font-Size="Smaller" runat="server" Text="MF Indicators"></asp:Label>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: right; width: 20%;">
                                <asp:Label ID="Label3" runat="server" Style="text-align: right" Text="Fund House:"></asp:Label>
                            </td>
                            <td>
                                <asp:DropDownList ID="ddlFundHouse" Enabled="false" Width="90%" runat="server" AutoPostBack="true"
                                    OnSelectedIndexChanged="ddlFundHouse_SelectedIndexChanged">
                                </asp:DropDownList>

                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%; text-align: right;">
                                <asp:Label ID="Label12" runat="server" Text="Enter Fund Name to search:"></asp:Label>
                            </td>
                            <td>
                                <asp:TextBox ID="textboxSelectedFundName" runat="server" ToolTip="Fund Name" Width="50%"></asp:TextBox>
                                <asp:Button ID="buttonSearchFUndName" runat="server" Text="Search Fund Name" OnClick="buttonSearchFUndName_Click" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%;">
                                <asp:Label ID="Label4" runat="server" Style="text-align: right" Text="Fund Name:"></asp:Label>
                            </td>
                            <td>
                                <asp:DropDownList ID="ddlFundName" Width="90%" Enabled="false" runat="server" AutoPostBack="True"
                                    OnSelectedIndexChanged="ddlFundName_SelectedIndexChanged">
                                </asp:DropDownList>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%; text-align: right;">
                                <asp:Label ID="Label8" runat="server" Text="Scheme Code:"></asp:Label>
                            </td>
                            <td>
                                <asp:TextBox ID="textboxSchemeCode" runat="server" ReadOnly="true" ToolTip="Scheme Code"></asp:TextBox>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: right; width: 20%;">
                                <asp:Label ID="Label5" runat="server" Style="text-align: right" Text="Show/Hide Indicator:"></asp:Label>
                            </td>
                            <td>
                                <asp:DropDownList ID="ddlIndicator" runat="server">
                                    <asp:ListItem Value="DAILY_NAV" Selected="True">Daily NAV</asp:ListItem>
                                    <asp:ListItem Value="SMA Fast">SMA Fast</asp:ListItem>
                                    <asp:ListItem Value="SMA Slow">SMA Slow</asp:ListItem>
                                    <asp:ListItem Value="EMA Fast">EMA Fast</asp:ListItem>
                                    <asp:ListItem Value="EMA Slow">EMA Slow</asp:ListItem>
                                    <asp:ListItem Value="WMA Fast">WMA Fast</asp:ListItem>
                                    <asp:ListItem Value="WMA Slow">WMA Slow</asp:ListItem>
                                    <asp:ListItem Value="RSI">RSI</asp:ListItem>
                                    <asp:ListItem Value="Upper Band">BBANDS</asp:ListItem>
                                    <asp:ListItem Value="MACD">MACD</asp:ListItem>
                                </asp:DropDownList>
                                <asp:Button ID="buttonShowSelectedIndicatorGraph" runat="server" Text="Show Selected Indicator" OnClick="buttonShowSelectedIndicatorGraph_Click" />
                                <asp:Button ID="buttonRemoveSelectedIndicatorGraph" runat="server" Text="Hide Selected Indicator" OnClick="buttonRemoveSelectedIndicatorGraph_Click" />
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: right; width: 20%;">
                                <asp:Label ID="Label6" runat="server" Text="Fast Period :"></asp:Label>
                                </td>
                            <td>
                                <asp:TextBox ID="textboxFastPeriodM" runat="server" Width="40" TextMode="Number" Text="12" ToolTip="Fast period for SMA, EMA, WMA, BBANDS"></asp:TextBox>
                                <asp:Label ID="Label7" runat="server" Text="Slow Period :"></asp:Label>
                                <asp:TextBox ID="textboxSlowPeriodM" runat="server" Width="40" TextMode="Number" Text="26" ToolTip="Slow period for SMA, EMA, WMA, BBANDS"></asp:TextBox>
                                <asp:Label ID="Label10" runat="server" Text="Std Deviation :"></asp:Label>
                                <asp:TextBox ID="textboxStdDevM" runat="server" Width="40" TextMode="Number" Text="2" ToolTip="Std Deviation for BBANDS"></asp:TextBox>
                                <asp:Label ID="Label11" runat="server" Text="Signal:"></asp:Label>
                                <asp:TextBox ID="textboxSignalM" runat="server" Width="40" TextMode="Number" Text="9" ToolTip="Signal for MACD"></asp:TextBox>
                                <asp:Label ID="Label9" runat="server" Text="RSI Period :"></asp:Label>
                                <asp:TextBox ID="textboxRSIPeriodM" runat="server" Width="40" TextMode="Number" Text="14" ToolTip="Period for RSI"></asp:TextBox>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: right; width: 20%;">
                                <asp:Label ID="Label2" runat="server" Text="From date:"></asp:Label>
                                </td>
                                    <td>
                                <asp:TextBox ID="textboxFromDateM" runat="server" TextMode="Date"></asp:TextBox>
                                <asp:Label ID="Label1" runat="server" Text="To date:"></asp:Label>
                                <asp:TextBox ID="textboxToDateM" runat="server" TextMode="Date"></asp:TextBox>
                            </td>
                        </tr>
                    </table>
                    <%--<table style="width: 100%;">
                        <tr style="width: 100%;">
                            <td style="width: 20%;"></td>
                            <td style="text-align: left; width: 80%;">
                                <asp:CheckBoxList ID="checkboxlistLinesM" Visible="true" runat="server" RepeatDirection="Horizontal" RepeatLayout="Table" CssClass="myCheckBoxList">
                                </asp:CheckBoxList>
                            </td>
                        </tr>
                    </table>--%>
                    <table style="width: 100%;">
                        <tr style="width: 100%;">
                            <td style="width: 20%;"></td>
                            <td style="text-align: left; width: 80%;">
                                <asp:Button ID="buttonShowGraph" runat="server" Text="Reset Graph" OnClick="buttonShowGraph_Click" />
                                <asp:Button ID="buttonShowGridM" runat="server" Text="Show/Hide Data" OnClick="buttonShowGrid_Click" />
                                <asp:Button ID="buttonDescM" Enabled="false" Visible="false" runat="server" Text="Toggle Description" OnClick="buttonDescM_Click" />
                            </td>
                        </tr>
                    </table>
                    <%--<table style="width: 100%;">
                        <tr style="width: 100%;">
                            <td style="width: 20%;"></td>
                            <td style="text-align: left; width: 80%;">
                                <asp:BulletedList ID="bulletedlistDescM" runat="server">
                                </asp:BulletedList>
                            </td>
                        </tr>
                    </table>--%>
                </div>

                <asp:ContentPlaceHolder ID="ContentPlaceHolderGraphs" runat="server">
                </asp:ContentPlaceHolder>
                <asp:Button ID="btnPostBack" runat="server" Style="display: none" />

                <asp:UpdateProgress ID="UpdateProgress1" runat="server" DisplayAfter="0">
                    <ProgressTemplate>
                        <div id="Background"></div>
                        <div id="Progress">
                            <img src="../WaitImage/pageloader.gif" width="100" height="100" style="vertical-align: central" />
                        </div>
                    </ProgressTemplate>
                </asp:UpdateProgress>
            </ContentTemplate>
        </asp:UpdatePanel>
    </form>

    <script type="text/javascript">
        function doHourglass() {
            document.body.style.cursor = 'wait';
        };

        function resetCursor() {
            document.body.style.cursor = 'default';
        };

        (function () {
            var panel = document.getElementById('<%= UpdatePanel1.ClientID %>');
            var panelWidth = document.getElementById('<%= panelWidthM.ClientID %>');
            var panelHeight = document.getElementById('<%= panelHeightM.ClientID %>');
            var initialWidth = panel.offsetWidth;
            var initialHeight = panel.offsetHeight;

            function getChangeRatio(val1, val2) {
                return Math.abs(val2 - val1) / val1;
            };

            function redrawChart() {
                setTimeout(function () {
                    initialWidth = panel.offsetWidth;
                    initialHeight = panel.offsetHeight;
                    document.getElementById('<%= btnPostBack.ClientID %>').click();
                }, 0);
            };

            function savePanelSize() {
                var isFirstDisplay = panelWidth.value == '';
                panelWidth.value = panel.offsetWidth;
                panelHeight.value = panel.offsetHeight;
                var widthChange = getChangeRatio(initialWidth, panel.offsetWidth);
                var heightChange = getChangeRatio(initialHeight, panel.offsetHeight);
                if (isFirstDisplay || widthChange > 0 || heightChange > 0) {
                    redrawChart();
                }
            };

            savePanelSize();
            window.addEventListener('resize', savePanelSize, false);
        })();
    </script>
</body>
</html>
