<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="standardgraphs.master.cs" Inherits="Analytics.Graphs.standardgraphs" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Standard Graphs</title>
    <%--<asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />--%>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        #Background {
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: Gray;
            filter: alpha(opacity=40);
            opacity: 0.4;
        }

        #Progress {
            position: fixed;
            top: 50%;
            left: 0%;
            width: 100%;
            height: 100%;
            text-align: center;
            /*background-color: White;
            border: solid 3px black;*/
        }

        .myCheckBoxList label {
            padding-right: 5px;
        }

        .gridheader {
            text-align: center;
        }

        html, body, form {
            height: 100%;
        }

        .chart {
            width: 100% !important;
            height: 100% !important;
        }

        .blinking {
            animation: blinkingText 1.2s infinite;
        }

        @keyframes blinkingText {
            0% {
                color: #000;
            }

            49% {
                color: #000;
            }

            60% {
                color: transparent;
            }

            99% {
                color: transparent;
            }

            100% {
                color: #000;
            }
        }
    </style>
</head>
<body onbeforeunload="doHourglass();" onunload="resetCursor();">
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        <asp:HiddenField ID="panelWidthM" runat="server" Value="" />
        <asp:HiddenField ID="panelHeightM" runat="server" Value="" />
        <asp:UpdatePanel ID="UpdatePanel1" runat="server" style="width: 100%; height: 100%">
            <ContentTemplate>
            <asp:Timer ID="TimerIndices" runat="server" Interval="300000" OnTick="GetIndexValues" />

                <div class="row">
                    <div class="text-center">
                        <asp:Label ID="headingtextM" Font-Bold="true" Font-Size="Smaller" runat="server" Text="ADX"></asp:Label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <asp:Label ID="Label2" runat="server" Text="From date:"></asp:Label>
                        <asp:TextBox ID="textboxFromDateM" runat="server" TextMode="Date" TabIndex="1"></asp:TextBox>
                    </div>
                    <div class="col-md-3">
                        <asp:Label ID="Label1" runat="server" Text="To date:"></asp:Label>
                        <asp:TextBox ID="textboxToDateM" runat="server" TextMode="Date" TabIndex="2"></asp:TextBox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <asp:CheckBoxList ID="checkboxlistLinesM" Visible="true" runat="server" RepeatDirection="Horizontal" RepeatLayout="Table" CssClass="myCheckBoxList">
                        </asp:CheckBoxList>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <asp:Button ID="buttonShowGraph" runat="server" Text="Reset Graph" OnClick="buttonShowGraph_Click" TabIndex="3" />
                        <asp:Button ID="buttonShowGridM" runat="server" Text="Show Raw Data" TabIndex="4" OnClick="buttonShowGrid_Click" />
                        <asp:Button ID="buttonDescM" runat="server" Text="Toggle Description" OnClick="buttonDescM_Click" TabIndex="5" />
                    </div>
                </div>
                <div class="row">
                    <asp:BulletedList ID="bulletedlistDescM" runat="server">
                        <%--<asp:ListItem>test</asp:ListItem>--%>
                    </asp:BulletedList>
                </div>
                <hr />
                <%--<asp:ScriptManager ID="scriptManager1" runat="server" />--%>
                <asp:ContentPlaceHolder ID="ContentPlaceHolderGraphs" runat="server">
                </asp:ContentPlaceHolder>
                <asp:Button ID="btnPostBack" runat="server" Style="display: none" />

                <asp:UpdateProgress ID="UpdateProgress1" runat="server" DisplayAfter="1" >
                    <ProgressTemplate>
                        <div id="Background"></div>
                        <div id="Progress">
                            <img src="../WaitImage/pageloader.gif" width="100" height="100" style="vertical-align: central" />
                        </div>
                    </ProgressTemplate>
                </asp:UpdateProgress>
            </ContentTemplate>
        </asp:UpdatePanel>
    </form>

    <script type="text/javascript">
        function doHourglass() {
            document.body.style.cursor = 'wait';
        };

        function resetCursor() {
            document.body.style.cursor = 'default';
        };

        (function () {
            var panel = document.getElementById('<%= UpdatePanel1.ClientID %>');
            var panelWidth = document.getElementById('<%= panelWidthM.ClientID %>');
            var panelHeight = document.getElementById('<%= panelHeightM.ClientID %>');
            var initialWidth = panel.offsetWidth;
            var initialHeight = panel.offsetHeight;

            function getChangeRatio(val1, val2) {
                return Math.abs(val2 - val1) / val1;
            };

            function redrawChart() {
                setTimeout(function () {
                    initialWidth = panel.offsetWidth;
                    initialHeight = panel.offsetHeight;
                    document.getElementById('<%= btnPostBack.ClientID %>').click();
                }, 0);
            };

            function savePanelSize() {
                var isFirstDisplay = panelWidth.value == '';
                panelWidth.value = panel.offsetWidth;
                panelHeight.value = panel.offsetHeight;
                var widthChange = getChangeRatio(initialWidth, panel.offsetWidth);
                var heightChange = getChangeRatio(initialHeight, panel.offsetHeight);
                if (isFirstDisplay || widthChange > 0 || heightChange > 0) {
                    redrawChart();
                }
            };

            savePanelSize();
            window.addEventListener('resize', savePanelSize, false);
        })();
    </script>
</body>
</html>
